# Dependency directory
backend/node_modules
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# Debug log from npm
backend/npm-debug.log

# Environment Variables should NEVER be published
backend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local


# testing
frontend/coverage

# production
frontend/build

# misc
.DS_Store
frontend/.DS_Store
backend/apuntes.txt
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
